body,
p {
	margin: 0;
	font-family: "Teko", serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
	font-size: 1.2rem;
	letter-spacing: 1px;
}

body {
	background: linear-gradient(to left, #000428, #004e92);
}

@property --6-x-position {
	syntax: '<percentage>';
	inherits: false;
	initial-value: 20%;
}

@property --6-y-position {
	syntax: '<percentage>';
	inherits: false;
	initial-value: 80%;
}

@property --7-x-position {
	syntax: '<percentage>';
	inherits: false;
	initial-value: 80%;
}

@property --7-y-position {
	syntax: '<percentage>';
	inherits: false;
	initial-value: 20%;
}


:root {

	--4-x-position: 20% --4-y-position: 80% --5-x-position: 80% --5-y-position: 20% --6-x-position: 20% --6-y-position: 80% --7-x-position: 80% --7-y-position: 20%
}


@keyframes main {
	25% {
		--7-x-position: 85%;
		--7-y-position: 80%;
	}

	50% {
		--6-x-position: 80%;
		--6-y-position: 15%;
		--7-x-position: 15%;
		--7-y-position: 85%;
	}
}

*::-webkit-scrollbar {
	width: 14px;
}

*::-webkit-scrollbar-thumb {
	border: 4px solid rgba(0, 0, 0, 0);
	background-clip: padding-box;
	border-radius: 9999px;
	background-color: #ff134e9d;
}

*::-webkit-scrollbar-track {
	background: black;
}

*::-webkit-scrollbar-corner { background: rgba(0,0,0,0); }

h1 {
	font-size: 3rem;
}

.navbar {
	width: 100%;
	height: 9vh;
	display: flex;
	align-items: center;
	border-radius: 10px;
	position: fixed;
	top: 0;
	background: rgb(0, 0, 0, 0.8);
	z-index: 4;
}

.navlogo {
	margin-left: 5%;
	width: 15%;
	padding: 1%;

	h1 {
		padding: 1%;
		border-radius: 10px;
	}
}

.navtabs {
	margin-left: 5%;
	height: 60%;
	width: 200%;
	display: grid;
	grid-template-columns: auto auto auto auto auto;
	align-items: center;
}

.navtabs>div {
	height: 100%;
	width: 60%;
	border-radius: 10px;
	margin-left: 5%;
	text-align: center;
	font-size: 2vw;
	cursor: pointer;
	transition: height 0.2s, width 0.2s, transform 0.2s;
}

.navtabs>div:hover {
	text-align: center;
	z-index: 1;
	height: 120%;
	width: 80%;
	transform: translateX(-7%);
}

.navtabs>div:active {
	background-color: #000000;
	height: 100%;
	width: 60%;
	transform: translateX(7%);
	border-color: rgb(192, 192, 192);
}

.page {
	opacity: 0;
	animation: fade-in 2s forwards ease-in;
	margin-top: 3%;
}

@keyframes fade-in {
	to {
		opacity: 1;
	}
}

#navspace {
	height: 9vh;
	width: 100%;
}

.no-select {
	user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-tap-highlight-color: transparent;
}
